.navbar {
  background: $redColor;
}

.nav-link {
  color: $whiteColor;

  &:hover {
    color: $goldColor;
  }
}

.navbar-brand img{
  width: 100px;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
  background: $redColor url("../../../img/menu-icon.png") center;
}

